In [2]:
import pandas as pd

df = pd.read_csv("ML_RestaurantesMadrid_Features_Final_V4_3.csv")
df.columns

Index(['grid_id', 'lat_center', 'lon_center', 'footfall_day_avg',
       'rest_total_250m', 'rest_total_500m', 'rest_density_500m',
       'competition_raw', 'dist_metro_min', 'estaciones_500m',
       'dist_parking_min', 'plazas_parking_500m', 'intermodal_score',
       'num_personas', 'res_density', 'mex_affinity_proxy',
       'mx_rest_total_500m', 'footfall_x_mex_share', 'mexican_location_score'],
      dtype='object')

In [3]:
df.shape

(39858, 19)

In [4]:
df.head()

,grid_id,lat_center,lon_center,footfall_day_avg,rest_total_250m,rest_total_500m,rest_density_500m,competition_raw,dist_metro_min,estaciones_500m,dist_parking_min,plazas_parking_500m,intermodal_score,num_personas,res_density,mex_affinity_proxy,mx_rest_total_500m,footfall_x_mex_share,mexican_location_score
0,cell_000000,40.318369,-3.843253,NaN,0,0,0.0,0.0,7913.891529,0,13919.856179,0,0.259540,0.0,0.0,0.0,0,NaN,0.270277
1,cell_000001,40.319720,-3.843269,NaN,0,0,0.0,0.0,7789.867474,0,13830.619089,0,0.264434,0.0,0.0,0.0,0,NaN,0.271603
2,cell_000002,40.321071,-3.843286,NaN,0,0,0.0,0.0,7666.771902,0,13734.772163,0,0.269361,0.0,0.0,0.0,0,NaN,0.272937
3,cell_000003,40.322422,-3.843303,NaN,0,0,0.0,0.0,7544.650259,0,13639.901333,0,0.274246,0.0,0.0,0.0,0,NaN,0.274259
4,cell_000004,40.323774,-3.843320,NaN,0,0,0.0,0.0,7423.550611,0,13546.027107,0,0.279089,0.0,0.0,0.0,0,NaN,0.275571

In [5]:
#Paso A: eliminar geometry

df = df.drop(columns=["geometry"], errors="ignore")

In [7]:
#Paso B: forzar columnas numÃ©ricas

for col in df.columns:
    if col not in ["grid_id"]:
        df[col] = pd.to_numeric(df[col], errors="coerce")

In [6]:
#Paso C: revisar otra vez, no deberÃ­a salir ningÃºn DtypeWarning

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39858 entries, 0 to 39857
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   grid_id                 39858 non-null  object
 1   lat_center              39858 non-null  float64
 2   lon_center              39858 non-null  float64
 3   footfall_day_avg        5569 non-null   float64
 4   rest_total_250m         39858 non-null  int64
 5   rest_total_500m         39858 non-null  int64
 6   rest_density_500m       39858 non-null  float64
 7   competition_raw         39858 non-null  float64
 8   dist_metro_min          39858 non-null  float64
 9   estaciones_500m         39858 non-null  int64
 10  dist_parking_min        39858 non-null  float64
 11  plazas_parking_500m     39858 non-null  int64
 12  intermodal_score        39858 non-null  float64
 13  num_personas            39858 non-null  float64
 14  res_density             39858 non-null  float64
 15  mex_affinity_proxy      39858 non-null  float64
 16  mx_rest_total_500m      39858 non-null  int64
 17  footfall_x_mex_share    5569 non-null   float64
 18  mexican_location_score  39858 non-null  float64
dtypes: float64(13), int64(5), object(1)
memory usage: 5.8+ MB

In [7]:
df.shape

(39858, 19)

In [8]:
df.head()

,grid_id,lat_center,lon_center,footfall_day_avg,rest_total_250m,rest_total_500m,rest_density_500m,competition_raw,dist_metro_min,estaciones_500m,dist_parking_min,plazas_parking_500m,intermodal_score,num_personas,res_density,mex_affinity_proxy,mx_rest_total_500m,footfall_x_mex_share,mexican_location_score
0,cell_000000,40.318369,-3.843253,NaN,0,0,0.0,0.0,7913.891529,0,13919.856179,0,0.259540,0.0,0.0,0.0,0,NaN,0.270277
1,cell_000001,40.319720,-3.843269,NaN,0,0,0.0,0.0,7789.867474,0,13830.619089,0,0.264434,0.0,0.0,0.0,0,NaN,0.271603
2,cell_000002,40.321071,-3.843286,NaN,0,0,0.0,0.0,7666.771902,0,13734.772163,0,0.269361,0.0,0.0,0.0,0,NaN,0.272937
3,cell_000003,40.322422,-3.843303,NaN,0,0,0.0,0.0,7544.650259,0,13639.901333,0,0.274246,0.0,0.0,0.0,0,NaN,0.274259
4,cell_000004,40.323774,-3.843320,NaN,0,0,0.0,0.0,7423.550611,0,13546.027107,0,0.279089,0.0,0.0,0.0,0,NaN,0.275571

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39858 entries, 0 to 39857
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   grid_id                 39858 non-null  object
 1   lat_center              39858 non-null  float64
 2   lon_center              39858 non-null  float64
 3   footfall_day_avg        5569 non-null   float64
 4   rest_total_250m         39858 non-null  int64
 5   rest_total_500m         39858 non-null  int64
 6   rest_density_500m       39858 non-null  float64
 7   competition_raw         39858 non-null  float64
 8   dist_metro_min          39858 non-null  float64
 9   estaciones_500m         39858 non-null  int64
 10  dist_parking_min        39858 non-null  float64
 11  plazas_parking_500m     39858 non-null  int64
 12  intermodal_score        39858 non-null  float64
 13  num_personas            39858 non-null  float64
 14  res_density             39858 non-null  float64
 15  mex_affinity_proxy      39858 non-null  float64
 16  mx_rest_total_500m      39858 non-null  int64
 17  footfall_x_mex_share    5569 non-null   float64
 18  mexican_location_score  39858 non-null  float64
dtypes: float64(13), int64(5), object(1)
memory usage: 5.8+ MB

RANKING

In [10]:
#NORMALIZAMOS TODO (0â€“1)

#competencia se invierte â†’ menos restaurantes = mejor
#esto ya estÃ¡ alineado con mexicano

rank_df = df.copy()

def norm(s):
    s = pd.to_numeric(s, errors="coerce")
    if s.dropna().empty or s.max() == s.min():
        return s*0
    return (s - s.min()) / (s.max() - s.min())


rank_df["footfall_norm"] = norm(rank_df["footfall_day_avg"])
rank_df["access_norm"]   = norm(rank_df["intermodal_score"])

# ðŸ”‘ COMPETENCIA (usar rest_density_500m, no res_density_500m)
rank_df["competition_norm"] = norm(
    1 / (1 + rank_df["rest_density_500m"])
)

rank_df["mex_niche_norm"] = norm(rank_df["footfall_x_mex_share"])
rank_df["resident_norm"]  = norm(rank_df["res_density"])

#DEFINIMOS EL Mexican Location Score

#Este score: va de 0 a 1
#NO es un KPI financiero
#es un ranking estratÃ©gico

rank_df["mexican_location_score"] = (
    0.30 * rank_df["footfall_norm"] +
    0.25 * rank_df["mex_niche_norm"] +
    0.20 * rank_df["access_norm"] +
    0.15 * rank_df["competition_norm"] +
    0.10 * rank_df["resident_norm"]
)


#CREAMOS EL RANKING FINAL

#Top 15 mejores ubicaciones para abrir un restaurante mexicano en Madrid

ranking = (
    rank_df[[
        "grid_id",
        "lat_center",
        "lon_center",
        "mexican_location_score",
        "footfall_day_avg",
        "footfall_x_mex_share",
        "rest_density_500m",
        "intermodal_score"
    ]]
    .sort_values("mexican_location_score", ascending=False)
    .reset_index(drop=True)
)

ranking.head(15)

,grid_id,lat_center,lon_center,mexican_location_score,footfall_day_avg,footfall_x_mex_share,rest_density_500m,intermodal_score
0,cell_017595,40.420658,-3.703077,0.801959,6307.6,4828.576552,0.000923,0.860712
1,cell_017375,40.419296,-3.704831,0.683531,5300.8,4095.099865,0.000946,0.897549
2,cell_017156,40.419285,-3.706599,0.671195,5300.8,3826.255064,0.000893,0.869200
3,cell_016938,40.420626,-3.708381,0.514730,3001.4,1946.578608,0.000750,0.898634
4,cell_010572,40.400031,-3.759426,0.494302,1224.8,1049.828571,0.000027,0.626087
5,cell_011881,40.393344,-3.748746,0.491591,1224.8,1201.246154,0.000066,0.603746
6,cell_010354,40.401371,-3.761209,0.491075,1224.8,942.153846,0.000017,0.630123
7,cell_011879,40.390642,-3.748716,0.490908,1224.8,1179.990244,0.000104,0.631183
8,cell_012099,40.392004,-3.746964,0.489560,1224.8,1149.195062,0.000103,0.631471
9,cell_012100,40.393356,-3.746979,0.488127,1224.8,1172.308571,0.000089,0.609976
10,cell_012101,40.394707,-3.746994,0.487964,1224.8,1107.030769,0.000066,0.609521
11,cell_012319,40.393367,-3.745212,0.487758,1224.8,1088.711111,0.000103,0.637610
12,cell_011882,40.394695,-3.748761,0.486043,1224.8,1049.828571,0.000053,0.605819
13,cell_010353,40.400020,-3.761193,0.486041,1224.8,918.600000,0.000036,0.625268
14,cell_011880,40.391993,-3.748731,0.485647,1224.8,1160.336842,0.000097,0.606493

In [11]:
ranking["mexican_location_score"].describe()

count    5569.000000
mean        0.338794
std         0.044009
min         0.208194
25%         0.306055
50%         0.334671
75%         0.359937
max         0.801959
Name: mexican_location_score, dtype: float64