In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
usuario = 'postgres'
contraseña = 'postgre'
host = 'localhost'
puerto = '5432'
base_de_datos = 'postgres'

In [11]:
conexion = f'postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}'

In [13]:
conn = create_engine(conexion)

In [15]:
conn

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [17]:
try:
    version = pd.read_sql("SELECT version();", conn).iloc[0, 0]
    print("Conexión exitosa con SQLAlchemy.")
    print(f"Versión del servidor PostgreSQL: {version}")
except Exception as e:
    print(f"Ocurrió un error al conectar con SQLAlchemy: {e}")

Conexión exitosa con SQLAlchemy.
Versión del servidor PostgreSQL: PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [20]:
consulta_1 = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dw_tfm_restaurantes'
ORDER BY table_name;
"""
pd.read_sql(consulta_1, conn)

               table_name
0           aparcamientos
1              dim_barrio
2            dim_distrito
3          flujo_peatones
4               licencias
5    menu_restaurantes_mx
6        poblacion_madrid
7   residentes_demografia
8            restaurantes
9                terrazas
10     transporte_publico

In [22]:
consulta_2 = """
SELECT *
FROM 
  information_schema.columns 
WHERE 
  table_name = 'restaurantes';
"""
pd.read_sql(consulta_2, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,dw_tfm_restaurantes,restaurantes,id_local,1,None,NO,bigint,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,dw_tfm_restaurantes,restaurantes,id_distrito_local,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,dw_tfm_restaurantes,restaurantes,desc_distrito_local,3,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,dw_tfm_restaurantes,restaurantes,id_barrio_local,4,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,dw_tfm_restaurantes,restaurantes,desc_barrio_local,5,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,dw_tfm_restaurantes,restaurantes,coordenada_x_local,6,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,dw_tfm_restaurantes,restaurantes,coordenada_y_local,7,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,dw_tfm_restaurantes,restaurantes,latitud,8,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,dw_tfm_restaurantes,restaurantes,longitud,9,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,postgres,dw_tfm_restaurantes,restaurantes,rotulo,10,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,postgres,dw_tfm_restaurantes,restaurantes,id_seccion,11,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,postgres,dw_tfm_restaurantes,restaurantes,desc_seccion,12,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,postgres,dw_tfm_restaurantes,restaurantes,id_division,13,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,postgres,dw_tfm_restaurantes,restaurantes,desc_division,14,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,postgres,dw_tfm_restaurantes,restaurantes,rotulo_new,15,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,postgres,dw_tfm_restaurantes,restaurantes,tipo_cocina,16,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
16,postgres,dw_tfm_restaurantes,restaurantes,revisar_manual,17,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [24]:
consulta_3= """
SELECT 
  column_name, 
  data_type, 
  character_maximum_length, 
  is_nullable, 
  column_default 
FROM 
  information_schema.columns 
WHERE 
  table_name = 'restaurantes'
ORDER BY
    ordinal_position
"""

pd.read_sql(consulta_3, conn)

,column_name,data_type,character_maximum_length,is_nullable,column_default
0,id_local,bigint,NaN,NO,None
1,id_distrito_local,integer,NaN,YES,None
2,desc_distrito_local,character varying,255.0,YES,None
3,id_barrio_local,integer,NaN,YES,None
4,desc_barrio_local,character varying,255.0,YES,None
5,coordenada_x_local,double precision,NaN,YES,None
6,coordenada_y_local,double precision,NaN,YES,None
7,latitud,double precision,NaN,YES,None
8,longitud,double precision,NaN,YES,None
9,rotulo,character varying,255.0,YES,None
10,id_seccion,character varying,50.0,YES,None
11,desc_seccion,character varying,255.0,YES,None
12,id_division,integer,NaN,YES,None
13,desc_division,character varying,255.0,YES,None
14,rotulo_new,character varying,255.0,YES,None
15,tipo_cocina,character varying,100.0,YES,None
16,revisar_manual,character varying,50.0,YES,None

Leer fichero

In [86]:
df_restaurantes = pd.read_excel("./ficheros/B1_Restaurantes_2025_Lat_Long.xlsx")
df_restaurantes.head(10)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,rotulo,id_seccion,desc_seccion,id_division,desc_division,rotulo_new,tipo_cocina,revisar_manual
0,10000003,1,CENTRO,104,JUSTICIA,440554.6,4475338.5,40.426558,-3.700788,VITACA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,VITACA,Española,Bueno
1,10000004,1,CENTRO,105,UNIVERSIDAD,439945.6,4475591.5,40.428794,-3.707991,ZAATAR & CO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,ZAATAR & CO,Árabe,Bueno
2,10000013,1,CENTRO,102,EMBAJADORES,441199.6,4473326.5,40.408479,-3.692999,HOTEL MEDIODIA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,HOTEL MEDIODIA,Española,Malo - Es un hotel
3,10000052,1,CENTRO,104,JUSTICIA,440875.6,4475142.5,40.424815,-3.696986,MUNE,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,MUNE,Libanes,Malo - Corregido
4,10000071,1,CENTRO,106,SOL,440388.6,4474077.5,40.415187,-3.702626,LA DESCUBIERTA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA DESCUBIERTA,Española,Bueno
5,10000071,1,CENTRO,106,SOL,440388.6,4474077.5,40.415187,-3.702626,LA DESCUBIERTA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA DESCUBIERTA,Española,Bueno
6,10000093,1,CENTRO,104,JUSTICIA,440953.6,4474656.5,40.420443,-3.696021,LA REVOLTOSA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA REVOLTOSA,Española,Bueno
7,10000102,1,CENTRO,106,SOL,440208.6,4474240.5,40.416642,-3.704763,LA MALLORQUINA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA MALLORQUINA,Española,0
8,10000105,1,CENTRO,104,JUSTICIA,440958.6,4475092.5,40.424371,-3.696003,LA MORDIDA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA MORDIDA,Mexicana,Bueno
9,10000310,1,CENTRO,102,EMBAJADORES,440498.6,4473664.5,40.411474,-3.701291,CEIP ANTONIO MORENO ROSALES,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,CEIP ANTONIO MORENO ROSALES,Española,0

In [88]:
df_restaurantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22180 entries, 0 to 22179
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_local             22180 non-null  int64
 1   id_distrito_local    22180 non-null  int64
 2   desc_distrito_local  22180 non-null  object
 3   id_barrio_local      22180 non-null  int64
 4   desc_barrio_local    22180 non-null  object
 5   coordenada_x_local   22180 non-null  float64
 6   coordenada_y_local   22180 non-null  float64
 7   latitud              22180 non-null  float64
 8   longitud             22180 non-null  float64
 9   rotulo               22180 non-null  object
 10  id_seccion           22180 non-null  object
 11  desc_seccion         22180 non-null  object
 12  id_division          22180 non-null  int64
 13  desc_division        22180 non-null  object
 14  rotulo_new           22180 non-null  object
 15  tipo_cocina          22180 non-null  object
 16  revisar_manual       22180 non-null  object
dtypes: float64(4), int64(4), object(9)
memory usage: 2.9+ MB

In [90]:
df_restaurantes.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id_local,22180.0,NaN,NaN,NaN,243988263.689946,73078538.437889,10000003.0,270130114.25,270527004.5,280018663.0,300022018.0
id_distrito_local,22180.0,NaN,NaN,NaN,9.167087,67.343182,1.0,4.0,8.0,13.0,9999.0
desc_distrito_local,22180,22,CENTRO,3406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_barrio_local,22180.0,NaN,NaN,NaN,875.663075,597.264348,101.0,402.0,804.0,1304.0,9999.0
desc_barrio_local,22180,132,UNIVERSIDAD,680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
coordenada_x_local,22180.0,NaN,NaN,NaN,384809.737949,147943.040519,0.0,439044.365,440651.11,442911.84,454736.53
coordenada_y_local,22180.0,NaN,NaN,NaN,3898953.898986,1498657.296623,0.0,4470952.5,4474411.0,4476589.5,4495496.5
latitud,22180.0,NaN,NaN,NaN,35.22004,13.537675,0.0,40.386965,40.418392,40.437972,40.608478
longitud,22180.0,NaN,NaN,NaN,-3.213038,1.235545,-3.836523,-3.706939,-3.6905,-3.645082,0.0
rotulo,22180,17286,S/R,666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_seccion,22180,1,I,22180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
desc_seccion,22180,1,HOSTELERÃA,22180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_division,22180.0,NaN,NaN,NaN,56.0,0.0,56.0,56.0,56.0,56.0,56.0
desc_division,22180,1,SERVICIOS DE COMIDAS Y BEBIDAS,22180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rotulo_new,22180,17066,S/R,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_cocina,22180,30,Española,20349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
revisar_manual,22180.0,21.0,0.0,19347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df_restaurantes.isnull().sum()

id_local               0
id_distrito_local      0
desc_distrito_local    0
id_barrio_local        0
desc_barrio_local      0
coordenada_x_local     0
coordenada_y_local     0
latitud                0
longitud               0
rotulo                 0
id_seccion             0
desc_seccion           0
id_division            0
desc_division          0
rotulo_new             0
tipo_cocina            0
revisar_manual         0
dtype: int64

Duplicados para eliminar

In [94]:
df_restaurantes[df_restaurantes.duplicated(subset='id_local', keep= False)].sort_values(by = 'id_local')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,rotulo,id_seccion,desc_seccion,id_division,desc_division,rotulo_new,tipo_cocina,revisar_manual
4,10000071,1,CENTRO,106,SOL,440388.60,4474077.5,40.415187,-3.702626,LA DESCUBIERTA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA DESCUBIERTA,Española,Bueno
5,10000071,1,CENTRO,106,SOL,440388.60,4474077.5,40.415187,-3.702626,LA DESCUBIERTA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA DESCUBIERTA,Española,Bueno
12,10000387,1,CENTRO,106,SOL,440410.60,4474298.5,40.417179,-3.702388,GOIKO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,GOIKO,Americana,Bueno
13,10000387,1,CENTRO,106,SOL,440410.60,4474298.5,40.417179,-3.702388,GOIKO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,GOIKO,Americana,Bueno
38,10000502,1,CENTRO,103,CORTES,441165.60,4473737.5,40.412179,-3.693437,BURGUER KING,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,BURGUER KING,Española,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21748,290001368,18,VILLA DE VALLECAS,1801,CASCO H.VALLECAS,443938.53,4468218.5,40.362652,-3.660271,CAFERGAN. NAVE E,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,CAFERGAN. NAVE E,Española,0
21753,290001411,18,VILLA DE VALLECAS,1801,CASCO H.VALLECAS,444028.53,4468280.5,40.363216,-3.659217,ORTEGO CATERING Y RESTAURACIÃ“N. CASA NATI,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,ORTEGO CATERING Y RESTAURACIÃ“N. CASA NATI,Española,0
21752,290001411,18,VILLA DE VALLECAS,1801,CASCO H.VALLECAS,444028.53,4468280.5,40.363216,-3.659217,ORTEGO CATERING Y RESTAURACIÃ“N. CASA NATI,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,ORTEGO CATERING Y RESTAURACIÃ“N. CASA NATI,Española,0
22105,300019692,8,FUENCARRAL-EL PARDO,808,EL GOLOSO,440976.84,4488895.5,40.548715,-3.697073,CAFETERIA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,CAFETERIA,Española,Malo - Sin Rotulo (CAFETERIA)
22106,300019692,8,FUENCARRAL-EL PARDO,808,EL GOLOSO,440976.84,4488895.5,40.548715,-3.697073,CAFETERIA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,CAFETERIA,Española,Malo - Sin Rotulo (CAFETERIA)

In [96]:
df_restaurantes = df_restaurantes.drop_duplicates(subset='id_local', keep='first')

In [98]:
df_restaurantes.duplicated().values.any()

np.False_

In [100]:
df_restaurantes_procesado = df_restaurantes.copy()

In [102]:
import numpy as np # Necesario para np.nan

# Suponiendo que tu DataFrame se llama df_tu_dataset
# Reemplaza 'df_tu_dataset' con el nombre real de tu DataFrame (ej. df_actividad_economica2025)

# Define los valores de centinela que quieres reemplazar
valores_a_reemplazar = [
    99999999999999,
    9999999999,
    'SIN INFORMACION',
    9999,
    999999.999999,
    999999.99, # Si hubiera alguna variación
    99
] 
df_restaurantes_procesado.replace(valores_a_reemplazar, np.nan, inplace=True)



# Después de reemplazar, es una buena idea intentar convertir las columnas a su tipo de dato correcto
# Por ejemplo, las coordenadas y IDs a numérico
df_restaurantes_procesado['id_local'] = pd.to_numeric(df_restaurantes_procesado['id_local'], errors='coerce')
df_restaurantes_procesado['id_distrito_local'] = pd.to_numeric(df_restaurantes_procesado['id_distrito_local'], errors='coerce')
df_restaurantes_procesado['id_barrio_local'] = pd.to_numeric(df_restaurantes_procesado['id_barrio_local'], errors='coerce')
df_restaurantes_procesado['coordenada_x_local'] = pd.to_numeric(df_restaurantes_procesado['coordenada_x_local'], errors='coerce')
df_restaurantes_procesado['coordenada_y_local'] = pd.to_numeric(df_restaurantes_procesado['coordenada_y_local'], errors='coerce')

In [104]:
df_restaurantes_procesado.dropna(subset=['id_local'], inplace=True)

In [106]:
df_restaurantes_procesado.dropna(subset=['id_seccion'], inplace=True)

In [108]:
df_restaurantes_procesado[df_restaurantes_procesado.duplicated(subset='id_seccion', keep= False)].sort_values(by = 'id_seccion')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,rotulo,id_seccion,desc_seccion,id_division,desc_division,rotulo_new,tipo_cocina,revisar_manual
0,10000003,1.0,CENTRO,104.0,JUSTICIA,440554.60,4475338.5,40.426558,-3.700788,VITACA,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,VITACA,Española,Bueno
14793,270576595,4.0,SALAMANCA,401.0,RECOLETOS,0.00,0.0,0.000000,0.000000,S/R,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,S/R,Española,Malo - Sin Rotulo
14792,270576587,8.0,FUENCARRAL-EL PARDO,806.0,VALVERDE,0.00,0.0,0.000000,0.000000,COMEDOR C.E.I.P. LEOPOLDO CALVO SOTELO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,COMEDOR C.E.I.P. LEOPOLDO CALVO SOTELO,Española,0
14791,270576699,6.0,TETUAN,604.0,ALMENARA,441648.72,4480490.5,40.473047,-3.688364,RESTAURANTE,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,RESTAURANTE,Española,Malo - Sin Rotulo (RESTAURANTE)
14790,270576694,16.0,HORTALEZA,1606.0,VALDEFUENTES,448181.00,4482429.0,40.490943,-3.611466,URBAN POKE,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,URBAN POKE,Española,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,270283466,1.0,CENTRO,101.0,PALACIO,439378.60,4473725.5,40.411943,-3.714497,LA LOLA COCKTEL BAR,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,LA LOLA COCKTEL BAR,Española,0
7379,270283410,7.0,CHAMBERI,705.0,RIOS ROSAS,440702.60,4476742.5,40.439217,-3.699174,O CONXURO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,O CONXURO,Española,0
7378,270283376,7.0,CHAMBERI,705.0,RIOS ROSAS,440893.60,4477040.5,40.441915,-3.696950,IL PASTAIO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,IL PASTAIO,Española,0
7376,270282814,17.0,VILLAVERDE,1701.0,SAN ANDRES,439305.53,4466587.5,40.347635,-3.714678,EL PRINCIPADO,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,EL PRINCIPADO,Española,0
22179,300022018,7.0,CHAMBERI,703.0,TRAFALGAR,0.00,0.0,0.000000,0.000000,ALMA OF SPAIN RESTAURANTE,I,HOSTELERÃA,56,SERVICIOS DE COMIDAS Y BEBIDAS,ALMA OF SPAIN RESTAURANTE,Española,0

Volcado Datos

In [110]:
df_restaurantes_procesado.to_sql('restaurantes', schema='dw_tfm_restaurantes', con = conn, if_exists = 'append', index=False)

59

In [114]:
count_db = pd.read_sql("SELECT COUNT(*) AS count FROM dw_tfm_restaurantes.restaurantes", conn).iloc[0, 0]
count_df = len(df_restaurantes_procesado)

print(f"Filas en DataFrame: {count_df}")
print(f"Filas en tabla dw_tfm_restaurantes: {count_db}")

if count_df == count_db:
    print("La carga se efectuó correctamente.")
else:
    print("Hay discrepancias en la cantidad de filas insertadas.")

Filas en DataFrame: 21059
Filas en tabla dw_aero.dm_pais: 21059
La carga se efectuó correctamente.