In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
usuario = 'postgres'
contraseña = 'postgre'
host = 'localhost'
puerto = '5432'
base_de_datos = 'postgres'

In [8]:
conexion = f'postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}'

In [10]:
conn = create_engine(conexion)

In [12]:
conn

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [14]:
try:
    version = pd.read_sql("SELECT version();", conn).iloc[0, 0]
    print("Conexión exitosa con SQLAlchemy.")
    print(f"Versión del servidor PostgreSQL: {version}")
except Exception as e:
    print(f"Ocurrió un error al conectar con SQLAlchemy: {e}")

Conexión exitosa con SQLAlchemy.
Versión del servidor PostgreSQL: PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [17]:
consulta_1 = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dw_tfm_restaurantes'
ORDER BY table_name;
"""
pd.read_sql(consulta_1, conn)

               table_name
0           aparcamientos
1              dim_barrio
2            dim_distrito
3          flujo_peatones
4               licencias
5    menu_restaurantes_mx
6        poblacion_madrid
7   residentes_demografia
8            restaurantes
9                terrazas
10     transporte_publico

In [25]:
consulta_2 = """
SELECT *
FROM 
  information_schema.columns 
WHERE 
  table_name = 'terrazas';
"""
pd.read_sql(consulta_2, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,dw_tfm_restaurantes,terrazas,id_terraza,1,None,NO,bigint,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,dw_tfm_restaurantes,terrazas,id_local,2,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,dw_tfm_restaurantes,terrazas,id_distrito_local,3,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,dw_tfm_restaurantes,terrazas,desc_distrito_local,4,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,dw_tfm_restaurantes,terrazas,id_barrio_local,5,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,dw_tfm_restaurantes,terrazas,desc_barrio_local,6,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,dw_tfm_restaurantes,terrazas,tipo_de_via,7,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,dw_tfm_restaurantes,terrazas,nombre_via,8,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,dw_tfm_restaurantes,terrazas,numero_via,9,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,postgres,dw_tfm_restaurantes,terrazas,cod_postal,10,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,postgres,dw_tfm_restaurantes,terrazas,coordenada_x_local,11,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,postgres,dw_tfm_restaurantes,terrazas,coordenada_y_local,12,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,postgres,dw_tfm_restaurantes,terrazas,latitud,13,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,postgres,dw_tfm_restaurantes,terrazas,longitud,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,postgres,dw_tfm_restaurantes,terrazas,nombre_comercial,15,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,postgres,dw_tfm_restaurantes,terrazas,id_periodo_terraza,16,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
16,postgres,dw_tfm_restaurantes,terrazas,desc_periodo_terraza,17,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [27]:
consulta_3= """
SELECT 
  column_name, 
  data_type, 
  character_maximum_length, 
  is_nullable, 
  column_default 
FROM 
  information_schema.columns 
WHERE 
  table_name = 'terrazas'
ORDER BY
    ordinal_position
"""

pd.read_sql(consulta_3, conn)

,column_name,data_type,character_maximum_length,is_nullable,column_default
0,id_terraza,bigint,NaN,NO,None
1,id_local,bigint,NaN,YES,None
2,id_distrito_local,integer,NaN,YES,None
3,desc_distrito_local,character varying,255.0,YES,None
4,id_barrio_local,integer,NaN,YES,None
5,desc_barrio_local,character varying,255.0,YES,None
6,tipo_de_via,character varying,100.0,YES,None
7,nombre_via,character varying,255.0,YES,None
8,numero_via,integer,NaN,YES,None
9,cod_postal,integer,NaN,YES,None
10,coordenada_x_local,double precision,NaN,YES,None
11,coordenada_y_local,double precision,NaN,YES,None
12,latitud,double precision,NaN,YES,None
13,longitud,double precision,NaN,YES,None
14,nombre_comercial,character varying,255.0,YES,None
15,id_periodo_terraza,integer,NaN,YES,None
16,desc_periodo_terraza,character varying,100.0,YES,None

Leer fichero

In [52]:

df_terrazas = pd.read_excel("./ficheros/B3_Restaurantes_Terrazas_2025_Lat_Long.xlsx")
df_terrazas.head(10)

,id_terraza,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,tipo_de_via,nombre_via,numero_via,cod_postal,coordenada_x_local,coordenada_y_local,latitud,longitud,nombre_comercial,id_periodo_terraza,desc_periodo_terraza
0,38,180000265,18,VILLA DE VALLECAS,1801,CASCO H.VALLECAS,CALLE,SAN JAIME ...,54,28031,446848.53,4470150.5,40.3802472641,-3.626161,BAR PETER,1,Anual
1,50,180000457,18,VILLA DE VALLECAS,1801,CASCO H.VALLECAS,PLAZA,JUAN DE MALASAÑA ...,5,28031,447240.53,4470141.5,40.3801910977,-3.621543,LA CHOZA DE DAVID,1,Anual
2,58,270075832,4,SALAMANCA,403,FUENTE DEL BERRO,CALLE,ALCALA ...,172,28028,443481.60,4475598.5,40.4291043437,-3.666307,CAFETERIA DAVID,2,Estacional
3,65,270445586,20,SAN BLAS-CANILLEJAS,2004,ARCOS,AVENIDA,GUADALAJARA ...,35,28032,447380.56,4474529.5,40.4197299069,-3.620256,BURGOS CERVECERIA,1,Anual
4,73,280060978,18,VILLA DE VALLECAS,1803,ENSANCHE DE VALLECAS,AVENIDA,ENSANCHE DE VALLECAS ...,44,28051,448326.53,4468742.5,40.3676559653,-3.608636,RESTAURANTE 40 & CUATRO,1,Anual
5,81,170000259,17,VILLAVERDE,1705,LOS ANGELES,PASEO,TALLERES ...,2,28021,440572.53,4466762.5,40.3493023157,-3.699776,PEÑA DE FRANCIA,1,Anual
6,83,170002005,17,VILLAVERDE,1705,LOS ANGELES,CALLE,LA DEL MANOJO DE ROSAS ...,102,28041,440665.53,4467317.5,40.3543086989,-3.698733,EL KUBO,1,Anual
7,88,180000366,18,VILLA DE VALLECAS,1802,SANTA EUGENIA,CALLE,CASTRILLO DE AZA ...,9,28031,448357.53,4470622.5,40.3845942550,-3.608424,EL JARDIN DEL BACO,1,Anual
8,37,270184111,18,VILLA DE VALLECAS,1801,CASCO H.VALLECAS,CALLE,SIERRA GADOR ...,41,28031,447209.53,4470130.5,40.3800900389,-3.621907,LOS MANCHEGOS,1,Anual
9,42,40002970,4,SALAMANCA,403,FUENTE DEL BERRO,CALLE,ALCALA ...,200,28028,443685.60,4475723.5,40.4302442446,-3.663914,VIPS,1,Anual

In [54]:
df_terrazas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6410 entries, 0 to 6409
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_terraza            6410 non-null   int64
 1   id_local              6410 non-null   int64
 2   id_distrito_local     6410 non-null   int64
 3   desc_distrito_local   6410 non-null   object
 4   id_barrio_local       6410 non-null   int64
 5   desc_barrio_local     6410 non-null   object
 6   tipo_de_via           6410 non-null   object
 7   nombre_via            6410 non-null   object
 8   numero_via            6410 non-null   int64
 9   cod_postal            6410 non-null   int64
 10  coordenada_x_local    6410 non-null   float64
 11  coordenada_y_local    6410 non-null   float64
 12  latitud               6410 non-null   object
 13  longitud              6410 non-null   float64
 14  nombre_comercial      6410 non-null   object
 15  id_periodo_terraza    6410 non-null   int64
 16  desc_periodo_terraza  6410 non-null   object
dtypes: float64(3), int64(7), object(7)
memory usage: 851.5+ KB

In [42]:
df_terrazas.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id_terraza,6410.0,NaN,NaN,NaN,7760.05351,7156.571573,8.0,2502.25,4985.0,17569.5,20602.0
id_local,6410.0,NaN,NaN,NaN,235822643.904368,80488736.249373,10000003.0,270065529.0,270396442.5,280009326.75,300019988.0
id_distrito_local,6410.0,NaN,NaN,NaN,8.528081,6.63122,1.0,4.0,7.0,13.0,99.0
desc_distrito_local,6410,22,CENTRO,808,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_barrio_local,6410.0,NaN,NaN,NaN,856.485179,664.755496,101.0,401.0,704.0,1303.0,9999.0
desc_barrio_local,6410,130,SOL,209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TIPO_DE_VIA,6410,19,CALLE,4770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOMBRE_VIA,6410,1752,ALCALA ...,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NUMERO_VIA,6410.0,NaN,NaN,NaN,44.955382,72.274406,0.0,8.0,21.0,54.0,999.0
COD_POSTAL,6410.0,NaN,NaN,NaN,28101.815445,2377.454178,28001.0,28010.0,28020.0,28036.0,99999.0
coordenada_x_local,6410.0,NaN,NaN,NaN,435253.262236,59204.10356,0.0,439923.1,441258.6,443334.31,999999.99
coordenada_y_local,6410.0,NaN,NaN,NaN,4397932.133842,579090.761718,0.0,4472481.75,4474939.5,4477237.0,4487141.5
Latitud,6410,6119,0..0000000000,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitud,6410.0,NaN,NaN,NaN,-3.726522,0.797784,-7.488744,-3.708229,-3.692421,-3.667876,15.446731
NOMBRE_COMERCIAL,6410,5399,S/R,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_periodo_terraza,6410.0,NaN,NaN,NaN,1.2117,0.687553,1.0,1.0,1.0,1.0,9.0
desc_periodo_terraza,6410,3,Anual,5298,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_terrazas.isnull().sum()

id_terraza              0
id_local                0
id_distrito_local       0
desc_distrito_local     0
id_barrio_local         0
desc_barrio_local       0
TIPO_DE_VIA             0
NOMBRE_VIA              0
NUMERO_VIA              0
COD_POSTAL              0
coordenada_x_local      0
coordenada_y_local      0
Latitud                 0
Longitud                0
NOMBRE_COMERCIAL        0
id_periodo_terraza      0
desc_periodo_terraza    0
dtype: int64

Duplicados para eliminar

In [46]:
df_terrazas.duplicated().values.any()

np.False_

Volcado Datos

In [60]:
for col in df_terrazas.columns:
        if df_terrazas[col].dtype == 'object':
            # 1. Corregir el error "0.." reemplazándolo por "0."
            df_terrazas[col] = df_terrazas[col].str.replace('0..', '0.', regex=False)

In [64]:
# --- LIMPIEZA ESPECÍFICA DE TIPOS ---
# Intentamos convertir a numérico las columnas que sabemos que son coordenadas
coord_cols = ['Latitud', 'longitud', 'Longitud', 'coordenada_x_local', 'coordenada_y_local']
for col in coord_cols:
        if col in df_terrazas.columns:
            df_terrazas[col] = pd.to_numeric(df_terrazas[col], errors='coerce') # Si algo falla, pone NaN (NULL en SQL)

In [66]:
df_terrazas.to_sql('terrazas', schema='dw_tfm_restaurantes', con = conn, if_exists = 'append', index=False)

410

In [70]:
count_db = pd.read_sql("SELECT COUNT(*) AS count FROM dw_tfm_restaurantes.terrazas", conn).iloc[0, 0]
count_df = len(df_terrazas)

print(f"Filas en DataFrame: {count_df}")
print(f"Filas en tabla dw_aero.dm_pais: {count_db}")

if count_df == count_db:
    print("La carga se efectuó correctamente.")
else:
    print("Hay discrepancias en la cantidad de filas insertadas.")

Filas en DataFrame: 6410
Filas en tabla dw_aero.dm_pais: 6410
La carga se efectuó correctamente.