In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
usuario = 'postgres'
contraseña = 'postgre'
host = 'localhost'
puerto = '5432'
base_de_datos = 'postgres'

In [8]:
conexion = f'postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}'

In [10]:
conn = create_engine(conexion)

In [12]:
conn

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [14]:
try:
    version = pd.read_sql("SELECT version();", conn).iloc[0, 0]
    print("Conexión exitosa con SQLAlchemy.")
    print(f"Versión del servidor PostgreSQL: {version}")
except Exception as e:
    print(f"Ocurrió un error al conectar con SQLAlchemy: {e}")

Conexión exitosa con SQLAlchemy.
Versión del servidor PostgreSQL: PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [17]:
consulta_1 = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dw_tfm_restaurantes'
ORDER BY table_name;
"""
pd.read_sql(consulta_1, conn)

               table_name
0           aparcamientos
1              dim_barrio
2            dim_distrito
3          flujo_peatones
4               licencias
5    menu_restaurantes_mx
6        poblacion_madrid
7   residentes_demografia
8            restaurantes
9                terrazas
10     transporte_publico

In [19]:
consulta_2 = """
SELECT *
FROM 
  information_schema.columns 
WHERE 
  table_name = 'flujo_peatones';
"""
pd.read_sql(consulta_2, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,dw_tfm_restaurantes,flujo_peatones,id_registro_peaton,1,nextval('dw_tfm_restaurantes.flujo_peatones_id...,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,dw_tfm_restaurantes,flujo_peatones,fecha_peatones,2,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,dw_tfm_restaurantes,flujo_peatones,hora_peatones,3,None,YES,time without time zone,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,dw_tfm_restaurantes,flujo_peatones,cantidad_peatones,4,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,dw_tfm_restaurantes,flujo_peatones,numero_distrito_peatones,5,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,dw_tfm_restaurantes,flujo_peatones,distrito,6,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,dw_tfm_restaurantes,flujo_peatones,direccion,7,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,dw_tfm_restaurantes,flujo_peatones,latitud,8,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,dw_tfm_restaurantes,flujo_peatones,longitud,9,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [21]:
consulta_3= """
SELECT 
  column_name, 
  data_type, 
  character_maximum_length, 
  is_nullable, 
  column_default 
FROM 
  information_schema.columns 
WHERE 
  table_name = 'flujo_peatones'
ORDER BY
    ordinal_position
"""

pd.read_sql(consulta_3, conn)

,column_name,data_type,character_maximum_length,is_nullable,column_default
0,id_registro_peaton,integer,NaN,NO,nextval('dw_tfm_restaurantes.flujo_peatones_id...
1,fecha_peatones,date,NaN,YES,None
2,hora_peatones,time without time zone,NaN,YES,None
3,cantidad_peatones,integer,NaN,YES,None
4,numero_distrito_peatones,integer,NaN,YES,None
5,distrito,character varying,100.0,YES,None
6,direccion,character varying,255.0,YES,None
7,latitud,character varying,50.0,YES,None
8,longitud,character varying,50.0,YES,None

Leer fichero

In [23]:
df_peatones = pd.read_excel("./ficheros/B4_Flujo_Peatones_2024 .xlsx")
df_peatones.head(10)

,fecha_peatones,hora_peatones,cantidad_peatones,numero_distrito_peatones,distrito,direccion,latitud,longitud
0,2024-01-01 00:00:00,00:00:00,910,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
1,2024-01-01 01:00:00,01:00:00,1539,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
2,2024-01-01 02:00:00,02:00:00,582,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
3,2024-01-01 03:00:00,03:00:00,257,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
4,2024-01-01 04:00:00,04:00:00,107,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
5,2024-01-01 05:00:00,05:00:00,190,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
6,2024-01-01 06:00:00,06:00:00,409,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
7,2024-01-01 07:00:00,07:00:00,356,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
8,2024-01-01 08:00:00,08:00:00,239,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"
9,2024-01-01 09:00:00,09:00:00,302,1,Centro,Calle Arenal esquina San Martín,"40.417,386","-3.707,141"

In [25]:
df_peatones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128833 entries, 0 to 128832
Data columns (total 8 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   fecha_peatones            128833 non-null  datetime64[ns]
 1   hora_peatones             128833 non-null  object
 2   cantidad_peatones         128833 non-null  int64
 3   numero_distrito_peatones  128833 non-null  int64
 4   distrito                  128833 non-null  object
 5   direccion                 128833 non-null  object
 6   latitud                   128833 non-null  object
 7   longitud                  128833 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 7.9+ MB

In [27]:
df_peatones.describe(include="all").T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
fecha_peatones,128833,NaN,NaN,NaN,2024-04-01 05:23:11.038010112,2024-01-01 00:00:00,2024-02-16 03:00:00,2024-04-01 04:00:00,2024-05-16 14:00:00,2024-06-30 23:00:00,NaN
hora_peatones,128833,24,20:00:00,5420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cantidad_peatones,128833.0,NaN,NaN,NaN,650.328837,0.0,66.0,299.0,750.0,11180.0,1094.071783
numero_distrito_peatones,128833.0,NaN,NaN,NaN,5.916008,1.0,1.0,4.0,10.0,21.0,5.938865
distrito,128833,13,Centro,63855,NaN,NaN,NaN,NaN,NaN,NaN,NaN
direccion,128833,30,Av. Albufera,4367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitud,128833,29,"40.494,945",8630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitud,128833,29,"-3.687,718",8630,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_peatones.isnull().sum()

fecha_peatones              0
hora_peatones               0
cantidad_peatones           0
numero_distrito_peatones    0
distrito                    0
direccion                   0
latitud                     0
longitud                    0
dtype: int64

Duplicados para eliminar

In [31]:
df_peatones.duplicated().values.any()

np.False_

Volcado Datos

In [35]:
df_peatones.to_sql('flujo_peatones', schema='dw_tfm_restaurantes', con = conn, if_exists = 'append', index=False)

833

In [37]:
count_db = pd.read_sql("SELECT COUNT(*) AS count FROM dw_tfm_restaurantes.flujo_peatones", conn).iloc[0, 0]
count_df = len(df_peatones)

print(f"Filas en DataFrame: {count_df}")
print(f"Filas en tabla dw_tfm_restaurantes: {count_db}")

if count_df == count_db:
    print("La carga se efectuó correctamente.")
else:
    print("Hay discrepancias en la cantidad de filas insertadas.")

Filas en DataFrame: 128833
Filas en tabla dw_tfm_restaurantes: 128833
La carga se efectuó correctamente.