In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
usuario = 'postgres'
contraseña = 'postgre'
host = 'localhost'
puerto = '5432'
base_de_datos = 'postgres'

In [6]:
conexion = f'postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}'

In [8]:
conn = create_engine(conexion)

In [10]:
conn

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [12]:
try:
    version = pd.read_sql("SELECT version();", conn).iloc[0, 0]
    print("Conexión exitosa con SQLAlchemy.")
    print(f"Versión del servidor PostgreSQL: {version}")
except Exception as e:
    print(f"Ocurrió un error al conectar con SQLAlchemy: {e}")

Conexión exitosa con SQLAlchemy.
Versión del servidor PostgreSQL: PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [15]:
consulta_1 = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dw_tfm_restaurantes'
ORDER BY table_name;
"""
pd.read_sql(consulta_1, conn)

               table_name
0           aparcamientos
1              dim_barrio
2            dim_distrito
3          flujo_peatones
4               licencias
5    menu_restaurantes_mx
6        poblacion_madrid
7   residentes_demografia
8            restaurantes
9                terrazas
10     transporte_publico

In [17]:
consulta_2 = """
SELECT *
FROM 
  information_schema.columns 
WHERE 
  table_name = 'licencias';
"""
pd.read_sql(consulta_2, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,dw_tfm_restaurantes,licencias,id_registro_licencia,1,nextval('dw_tfm_restaurantes.licencias_id_regi...,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,dw_tfm_restaurantes,licencias,id_local,2,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,dw_tfm_restaurantes,licencias,id_distrito_local,3,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,dw_tfm_restaurantes,licencias,desc_distrito_local,4,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,dw_tfm_restaurantes,licencias,id_barrio_local,5,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,dw_tfm_restaurantes,licencias,desc_barrio_local,6,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,dw_tfm_restaurantes,licencias,coordenada_x_local,7,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,dw_tfm_restaurantes,licencias,coordenada_y_local,8,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,dw_tfm_restaurantes,licencias,latitud,9,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,postgres,dw_tfm_restaurantes,licencias,longitud,10,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,postgres,dw_tfm_restaurantes,licencias,id_tipo_licencia,11,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,postgres,dw_tfm_restaurantes,licencias,desc_tipo_licencia,12,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,postgres,dw_tfm_restaurantes,licencias,id_tipo_situacion_licencia,13,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,postgres,dw_tfm_restaurantes,licencias,desc_tipo_situacion_licencia,14,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [19]:
consulta_3= """
SELECT 
  column_name, 
  data_type, 
  character_maximum_length, 
  is_nullable, 
  column_default 
FROM 
  information_schema.columns 
WHERE 
  table_name = 'licencias'
ORDER BY
    ordinal_position
"""

pd.read_sql(consulta_3, conn)

,column_name,data_type,character_maximum_length,is_nullable,column_default
0,id_registro_licencia,integer,NaN,NO,nextval('dw_tfm_restaurantes.licencias_id_regi...
1,id_local,bigint,NaN,YES,None
2,id_distrito_local,integer,NaN,YES,None
3,desc_distrito_local,character varying,255.0,YES,None
4,id_barrio_local,integer,NaN,YES,None
5,desc_barrio_local,character varying,255.0,YES,None
6,coordenada_x_local,double precision,NaN,YES,None
7,coordenada_y_local,double precision,NaN,YES,None
8,latitud,double precision,NaN,YES,None
9,longitud,double precision,NaN,YES,None
10,id_tipo_licencia,integer,NaN,YES,None
11,desc_tipo_licencia,character varying,255.0,YES,None
12,id_tipo_situacion_licencia,integer,NaN,YES,None
13,desc_tipo_situacion_licencia,character varying,255.0,YES,None

Leer fichero

In [61]:

df_licencias = pd.read_excel("./ficheros/B5_Licencias_2025_Lat_Long.xlsx")
df_licencias.head(10)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia
0,10000097,1,CENTRO,104,JUSTICIA,440851.6,4474857.5,40.422246,-3.697242,99,SIN INFORMACION,99,SIN INFORMACION
1,10000097,1,CENTRO,104,JUSTICIA,440851.6,4474857.5,40.422246,-3.697242,99,SIN INFORMACION,99,SIN INFORMACION
2,10000150,1,CENTRO,106,SOL,440044.6,4474063.5,40.415036,-3.706679,4,Transmisión de licencia Urbanística,5,Transmisión de Licencia Concedida
3,10000224,1,CENTRO,102,EMBAJADORES,0.0,0.0,0.000000,0.000000,1,Declaración Responsable,3,Denegada
4,10000224,1,CENTRO,102,EMBAJADORES,0.0,0.0,0.000000,0.000000,4,Transmisión de licencia Urbanística,4,Tramitando Transmisión de Licencia
5,10000224,1,CENTRO,102,EMBAJADORES,0.0,0.0,0.000000,0.000000,1,Declaración Responsable,1,En tramitación
6,10000258,1,CENTRO,106,SOL,440127.6,4474277.5,40.416970,-3.705721,1,Declaración Responsable,1,En tramitación
7,10000264,1,CENTRO,106,SOL,440226.6,4474520.5,40.419166,-3.704577,4,Transmisión de licencia Urbanística,2,Concedida
8,10000275,1,CENTRO,101,PALACIO,0.0,0.0,0.000000,0.000000,4,Transmisión de licencia Urbanística,5,Transmisión de Licencia Concedida
9,10000284,1,CENTRO,103,CORTES,440755.6,4473926.5,40.413852,-3.698287,4,Transmisión de licencia Urbanística,1,En tramitación

In [25]:
df_licencias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62008 entries, 0 to 62007
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_local                      62008 non-null  int64
 1   id_distrito_local             62008 non-null  int64
 2   desc_distrito_local           62008 non-null  object
 3   id_barrio_local               62008 non-null  int64
 4   desc_barrio_local             62008 non-null  object
 5   coordenada_x_local            62008 non-null  float64
 6   coordenada_y_local            62008 non-null  float64
 7   Latitud                       62008 non-null  float64
 8   Longitud                      62008 non-null  float64
 9   id_tipo_licencia              62008 non-null  int64
 10  desc_tipo_licencia            62008 non-null  object
 11  id_tipo_situacion_licencia    62008 non-null  int64
 12  desc_tipo_situacion_licencia  62008 non-null  object
dtypes: float64(4), int64(5), object(4)
memory usage: 6.2+ MB

In [27]:
df_licencias.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id_local,62008.0,NaN,NaN,NaN,200067966.231019,129859413.08722,10000004.0,110002890.0,270078923.0,270236949.0,9999999999.0
id_distrito_local,62008.0,NaN,NaN,NaN,9.4502,89.893171,1.0,4.0,7.0,13.0,9999.0
desc_distrito_local,62008,22,SALAMANCA,7196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_barrio_local,62008.0,NaN,NaN,NaN,868.634725,583.413296,101.0,402.0,705.0,1302.0,9999.0
desc_barrio_local,62008,131,RECOLETOS,1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN
coordenada_x_local,62008.0,NaN,NaN,NaN,425747.421684,82844.901725,0.0,439744.6,441032.6,443121.6,999999.99
coordenada_y_local,62008.0,NaN,NaN,NaN,4312034.202433,837499.18381,0.0,4471978.5,4475000.5,4476701.25,4488573.5
Latitud,62008.0,NaN,NaN,NaN,38.958032,7.574511,0.0,40.396227,40.423618,40.438939,90.184027
Longitud,62008.0,NaN,NaN,NaN,-3.551399,0.711353,-3.836677,-3.707648,-3.692098,-3.666132,15.446731
id_tipo_licencia,62008.0,NaN,NaN,NaN,7.748242,21.715433,0.0,1.0,3.0,4.0,99.0
desc_tipo_licencia,62008,6,Transmisión de licencia Urbanística,26039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_tipo_situacion_licencia,62008.0,NaN,NaN,NaN,5.805848,12.071172,1.0,2.0,3.0,5.0,99.0
desc_tipo_situacion_licencia,62008,15,Concedida,16371,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df_licencias.isnull().sum()

id_local                        0
id_distrito_local               0
desc_distrito_local             0
id_barrio_local                 0
desc_barrio_local               0
coordenada_x_local              0
coordenada_y_local              0
latitud                         0
longitud                        0
id_tipo_licencia                0
desc_tipo_licencia              0
id_tipo_situacion_licencia      0
desc_tipo_situacion_licencia    0
dtype: int64

Duplicados para eliminar

In [65]:
df_licencias[df_licencias.duplicated(subset='id_local', keep= False)].sort_values(by = 'id_local')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia
20,10000004,1,CENTRO,105,UNIVERSIDAD,439945.60,4475591.50,40.428794,-3.707991,4,Transmisión de licencia Urbanística,5,Transmisión de Licencia Concedida
18,10000004,1,CENTRO,105,UNIVERSIDAD,439945.60,4475591.50,40.428794,-3.707991,1,Declaración Responsable,24,Inspeccionada favorable
19,10000004,1,CENTRO,105,UNIVERSIDAD,439945.60,4475591.50,40.428794,-3.707991,4,Transmisión de licencia Urbanística,5,Transmisión de Licencia Concedida
28,10000013,1,CENTRO,102,EMBAJADORES,441199.60,4473326.50,40.408479,-3.692999,2,Licencia Urbanística,1,En tramitación
27,10000013,1,CENTRO,102,EMBAJADORES,441199.60,4473326.50,40.408479,-3.692999,2,Licencia Urbanística,2,Concedida
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56802,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
38215,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
38213,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
22152,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
61137,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION

In [67]:
df_licencias.desc_tipo_situacion_licencia.unique()

array(['SIN INFORMACION', 'Transmisión de Licencia Concedida', 'Denegada',
       'Tramitando Transmisión de Licencia', 'En tramitación',
       'Concedida', 'Inspeccionada favorable',
       'Concedida pendiente de licencia de funcionamiento',
       'Ineficaz o sin efectos', 'Presentada (pendiente de comprobación)',
       'No concedida', 'Transmisión de Licencia Denegada',
       'Favorable no inspeccionada',
       'Concedida (pendiente de licencia urbanística)', 'Presentada'],
      dtype=object)

valores_a_reemplazar = [
    99999999999999,
    'SIN INFORMACION',
    9999,
    999999.999999,
    999999.99, # Si hubiera alguna variación
    99
] 
df_licencias.replace(valores_a_reemplazar, np.nan, inplace=True)

In [69]:
df_licencias[df_licencias.duplicated(subset='id_local', keep= False)].sort_values(by = 'id_local')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia
20,10000004,1,CENTRO,105,UNIVERSIDAD,439945.60,4475591.50,40.428794,-3.707991,4,Transmisión de licencia Urbanística,5,Transmisión de Licencia Concedida
18,10000004,1,CENTRO,105,UNIVERSIDAD,439945.60,4475591.50,40.428794,-3.707991,1,Declaración Responsable,24,Inspeccionada favorable
19,10000004,1,CENTRO,105,UNIVERSIDAD,439945.60,4475591.50,40.428794,-3.707991,4,Transmisión de licencia Urbanística,5,Transmisión de Licencia Concedida
28,10000013,1,CENTRO,102,EMBAJADORES,441199.60,4473326.50,40.408479,-3.692999,2,Licencia Urbanística,1,En tramitación
27,10000013,1,CENTRO,102,EMBAJADORES,441199.60,4473326.50,40.408479,-3.692999,2,Licencia Urbanística,2,Concedida
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56802,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
38215,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
38213,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
22152,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION
61137,9999999999,9999,SIN INFORMACION,9999,SIN INFORMACION,999999.99,999999.99,90.184027,15.446731,99,SIN INFORMACION,99,SIN INFORMACION

In [71]:
df_licencias_procesado = df_licencias.copy()

In [73]:
import numpy as np 

# Valores a reemplazar
valores_a_reemplazar = [
    99999999999999,
    9999999999,
    'SIN INFORMACION',
    9999,
    999999.999999,
    999999.99, # Si hubiera alguna variación
    99
] 
df_licencias_procesado.replace(valores_a_reemplazar, np.nan, inplace=True)

# Después de reemplazar, convertir las columnas a su tipo de dato correcto

df_licencias_procesado['id_local'] = pd.to_numeric(df_licencias_procesado['id_local'], errors='coerce')
df_licencias_procesado['id_distrito_local'] = pd.to_numeric(df_licencias_procesado['id_distrito_local'], errors='coerce')
df_licencias_procesado['id_barrio_local'] = pd.to_numeric(df_licencias_procesado['id_barrio_local'], errors='coerce')
df_licencias_procesado['coordenada_x_local'] = pd.to_numeric(df_licencias_procesado['coordenada_x_local'], errors='coerce')
df_licencias_procesado['coordenada_y_local'] = pd.to_numeric(df_licencias_procesado['coordenada_y_local'], errors='coerce')

In [75]:
df_licencias_procesado[df_licencias_procesado.duplicated(subset='id_local', keep= False)].sort_values(by = 'id_local')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia
20,10000004.0,1.0,CENTRO,105.0,UNIVERSIDAD,439945.6,4475591.5,40.428794,-3.707991,4.0,Transmisión de licencia Urbanística,5.0,Transmisión de Licencia Concedida
18,10000004.0,1.0,CENTRO,105.0,UNIVERSIDAD,439945.6,4475591.5,40.428794,-3.707991,1.0,Declaración Responsable,24.0,Inspeccionada favorable
19,10000004.0,1.0,CENTRO,105.0,UNIVERSIDAD,439945.6,4475591.5,40.428794,-3.707991,4.0,Transmisión de licencia Urbanística,5.0,Transmisión de Licencia Concedida
28,10000013.0,1.0,CENTRO,102.0,EMBAJADORES,441199.6,4473326.5,40.408479,-3.692999,2.0,Licencia Urbanística,1.0,En tramitación
27,10000013.0,1.0,CENTRO,102.0,EMBAJADORES,441199.6,4473326.5,40.408479,-3.692999,2.0,Licencia Urbanística,2.0,Concedida
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.184027,15.446731,NaN,NaN,NaN,NaN
38213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.184027,15.446731,NaN,NaN,NaN,NaN
38215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.184027,15.446731,NaN,NaN,NaN,NaN
56802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.184027,15.446731,NaN,NaN,NaN,NaN
61137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.184027,15.446731,NaN,NaN,NaN,NaN

In [77]:
df_licencias_procesado.dropna(subset=['id_local'], inplace=True)

In [79]:
df_licencias_procesado.duplicated().values.any()

np.True_

In [81]:
df_licencias_procesado[df_licencias_procesado.duplicated(subset='id_local', keep= False)].sort_values(by = 'id_local')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,coordenada_x_local,coordenada_y_local,latitud,longitud,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia
20,10000004.0,1.0,CENTRO,105.0,UNIVERSIDAD,439945.60,4475591.5,40.428794,-3.707991,4.0,Transmisión de licencia Urbanística,5.0,Transmisión de Licencia Concedida
18,10000004.0,1.0,CENTRO,105.0,UNIVERSIDAD,439945.60,4475591.5,40.428794,-3.707991,1.0,Declaración Responsable,24.0,Inspeccionada favorable
19,10000004.0,1.0,CENTRO,105.0,UNIVERSIDAD,439945.60,4475591.5,40.428794,-3.707991,4.0,Transmisión de licencia Urbanística,5.0,Transmisión de Licencia Concedida
28,10000013.0,1.0,CENTRO,102.0,EMBAJADORES,441199.60,4473326.5,40.408479,-3.692999,2.0,Licencia Urbanística,1.0,En tramitación
27,10000013.0,1.0,CENTRO,102.0,EMBAJADORES,441199.60,4473326.5,40.408479,-3.692999,2.0,Licencia Urbanística,2.0,Concedida
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61984,270432790.0,5.0,CHAMARTIN,504.0,HISPANOAMERICA,442535.60,4478792.5,40.457813,-3.677748,2.0,Licencia Urbanística,2.0,Concedida
61983,270432790.0,5.0,CHAMARTIN,504.0,HISPANOAMERICA,442535.60,4478792.5,40.457813,-3.677748,2.0,Licencia Urbanística,2.0,Concedida
61987,270432899.0,20.0,SAN BLAS-CANILLEJAS,2005.0,ROSAS,448436.56,4475241.5,40.426210,-3.607867,1.0,Declaración Responsable,1.0,En tramitación
61986,270432899.0,20.0,SAN BLAS-CANILLEJAS,2005.0,ROSAS,448436.56,4475241.5,40.426210,-3.607867,NaN,NaN,1.0,En tramitación
61985,270432899.0,20.0,SAN BLAS-CANILLEJAS,2005.0,ROSAS,448436.56,4475241.5,40.426210,-3.607867,1.0,Declaración Responsable,23.0,Favorable no inspeccionada

In [83]:
#Reemplazar valores con errores en latitud y longitud
for col in df_licencias_procesado.columns:
        if df_licencias_procesado[col].dtype == 'object':
            # 1. Corregir el error "0.." reemplazándolo por "0."
            df_licencias_procesado[col] = df_licencias_procesado[col].str.replace('0..', '0.', regex=False)

In [85]:
# --- LIMPIEZA ESPECÍFICA DE TIPOS ---
# Intentamos convertir a numérico las columnas que sabemos que son coordenadas
coord_cols = ['Latitud', 'longitud', 'Longitud', 'coordenada_x_local', 'coordenada_y_local']
for col in coord_cols:
        if col in df_licencias_procesado.columns:
            df_licencias_procesado[col] = pd.to_numeric(df_licencias_procesado[col], errors='coerce') # Si algo falla, pone NaN (NULL en SQL)

Volcado Datos

In [90]:
df_licencias_procesado.to_sql('licencias', schema='dw_tfm_restaurantes', con = conn, if_exists = 'append', index=False)

3

In [92]:
count_db = pd.read_sql("SELECT COUNT(*) AS count FROM dw_tfm_restaurantes.licencias", conn).iloc[0, 0]
count_df = len(df_licencias_procesado)

print(f"Filas en DataFrame: {count_df}")
print(f"Filas en tabla dw_tfm_restaurantes: {count_db}")

if count_df == count_db:
    print("La carga se efectuó correctamente.")
else:
    print("Hay discrepancias en la cantidad de filas insertadas.")

Filas en DataFrame: 62003
Filas en tabla dw_aero.dm_pais: 62003
La carga se efectuó correctamente.