In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
usuario = 'postgres'
contraseña = 'postgre'
host = 'localhost'
puerto = '5432'
base_de_datos = 'postgres'

In [6]:
conexion = f'postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}'

In [8]:
conn = create_engine(conexion)

In [10]:
conn

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [12]:
try:
    version = pd.read_sql("SELECT version();", conn).iloc[0, 0]
    print("Conexión exitosa con SQLAlchemy.")
    print(f"Versión del servidor PostgreSQL: {version}")
except Exception as e:
    print(f"Ocurrió un error al conectar con SQLAlchemy: {e}")

Conexión exitosa con SQLAlchemy.
Versión del servidor PostgreSQL: PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [15]:
consulta_1 = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dw_tfm_restaurantes'
ORDER BY table_name;
"""
pd.read_sql(consulta_1, conn)

               table_name
0           aparcamientos
1              dim_barrio
2            dim_distrito
3          flujo_peatones
4               licencias
5    menu_restaurantes_mx
6        poblacion_madrid
7   residentes_demografia
8            restaurantes
9                terrazas
10     transporte_publico

In [17]:
consulta_2 = """
SELECT *
FROM 
  information_schema.columns 
WHERE 
  table_name = 'residentes_demografia';
"""
pd.read_sql(consulta_2, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,dw_tfm_restaurantes,residentes_demografia,id_demografia,1,nextval('dw_tfm_restaurantes.residentes_demogr...,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,dw_tfm_restaurantes,residentes_demografia,cod_distrito,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,dw_tfm_restaurantes,residentes_demografia,desc_distrito,3,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,dw_tfm_restaurantes,residentes_demografia,cod_dist_barrio,4,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,dw_tfm_restaurantes,residentes_demografia,desc_barrio,5,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,dw_tfm_restaurantes,residentes_demografia,cod_barrio,6,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,dw_tfm_restaurantes,residentes_demografia,cod_dist_seccion,7,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,dw_tfm_restaurantes,residentes_demografia,cod_seccion,8,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,dw_tfm_restaurantes,residentes_demografia,cod_edad_int,9,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,postgres,dw_tfm_restaurantes,residentes_demografia,espanoles_hombres,10,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,postgres,dw_tfm_restaurantes,residentes_demografia,espanoles_mujeres,11,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,postgres,dw_tfm_restaurantes,residentes_demografia,extranjeros_hombres,12,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,postgres,dw_tfm_restaurantes,residentes_demografia,extranjeros_mujeres,13,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,postgres,dw_tfm_restaurantes,residentes_demografia,fx_carga,14,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,postgres,dw_tfm_restaurantes,residentes_demografia,fx_datos_ini,15,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,postgres,dw_tfm_restaurantes,residentes_demografia,fx_datos_fin,16,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [19]:
consulta_3= """
SELECT 
  column_name, 
  data_type, 
  character_maximum_length, 
  is_nullable, 
  column_default 
FROM 
  information_schema.columns 
WHERE 
  table_name = 'residentes_demografia'
ORDER BY
    ordinal_position
"""

pd.read_sql(consulta_3, conn)

,column_name,data_type,character_maximum_length,is_nullable,column_default
0,id_demografia,integer,NaN,NO,nextval('dw_tfm_restaurantes.residentes_demogr...
1,cod_distrito,integer,NaN,YES,None
2,desc_distrito,character varying,100.0,YES,None
3,cod_dist_barrio,integer,NaN,YES,None
4,desc_barrio,character varying,100.0,YES,None
5,cod_barrio,integer,NaN,YES,None
6,cod_dist_seccion,integer,NaN,YES,None
7,cod_seccion,integer,NaN,YES,None
8,cod_edad_int,integer,NaN,YES,None
9,espanoles_hombres,integer,NaN,YES,None
10,espanoles_mujeres,integer,NaN,YES,None
11,extranjeros_hombres,integer,NaN,YES,None
12,extranjeros_mujeres,integer,NaN,YES,None
13,fx_carga,character varying,50.0,YES,None
14,fx_datos_ini,character varying,50.0,YES,None
15,fx_datos_fin,character varying,50.0,YES,None

Leer fichero

In [46]:
df_residentes_demografia = pd.read_csv("./ficheros/B6_Residentes_Edad_Nacionalidad_2025.csv")
df_residentes_demografia.head(10)

,COD_DISTRITO,DESC_DISTRITO,COD_DIST_BARRIO,DESC_BARRIO,COD_BARRIO,COD_DIST_SECCION,COD_SECCION,COD_EDAD_INT,ESPANOLES_HOMBRES,ESPANOLES_MUJERES,EXTRANJEROS_HOMBRES,EXTRANJEROS_MUJERES,FX_CARGA,FX_DATOS_INI,FX_DATOS_FIN
0,2,ARGANZUELA,202.0,ACACIAS,2.0,2094.0,94.0,47,7,8,0,0,00:01.6,01/08/2025,01/08/2025
1,16,HORTALEZA,1604.0,PINAR DEL REY,4.0,16073.0,73.0,59,3,15,0,1,00:01.6,01/08/2025,01/08/2025
2,3,RETIRO,306.0,NIÑO JESUS,6.0,3080.0,80.0,60,7,18,0,1,00:01.6,01/08/2025,01/08/2025
3,8,FUENCARRAL-EL PARDO,803.0,PEÑA GRANDE,3.0,8025.0,25.0,57,5,8,1,0,00:01.6,01/08/2025,01/08/2025
4,10,LATINA,1003.0,LUCERO,3.0,10057.0,57.0,60,8,9,2,3,00:01.6,01/08/2025,01/08/2025
5,2,ARGANZUELA,205.0,DELICIAS,5.0,2062.0,62.0,71,3,5,1,1,00:01.6,01/08/2025,01/08/2025
6,2,ARGANZUELA,204.0,LEGAZPI,4.0,2111.0,111.0,77,2,1,0,0,00:01.6,01/08/2025,01/08/2025
7,13,PUENTE DE VALLECAS,1302.0,SAN DIEGO,2.0,13062.0,62.0,19,1,2,3,4,00:01.6,01/08/2025,01/08/2025
8,17,VILLAVERDE,1705.0,ANGELES,5.0,17092.0,92.0,3,1,3,1,0,00:01.6,01/08/2025,01/08/2025
9,2,ARGANZUELA,206.0,PALOS DE LA FRONTERA,6.0,2065.0,65.0,1,4,4,2,1,00:01.6,01/08/2025,01/08/2025

In [48]:
# Normalizamos a minusculas los títulos
df_residentes_demografia.columns = df_residentes_demografia.columns.str.lower().str.replace(' ', '_')

In [50]:
df_residentes_demografia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240770 entries, 0 to 240769
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   cod_distrito         240770 non-null  int64
 1   desc_distrito        240770 non-null  object
 2   cod_dist_barrio      240765 non-null  float64
 3   desc_barrio          240765 non-null  object
 4   cod_barrio           240765 non-null  float64
 5   cod_dist_seccion     240763 non-null  float64
 6   cod_seccion          240763 non-null  float64
 7   cod_edad_int         240770 non-null  int64
 8   espanoles_hombres    240770 non-null  int64
 9   espanoles_mujeres    240770 non-null  int64
 10  extranjeros_hombres  240770 non-null  int64
 11  extranjeros_mujeres  240770 non-null  int64
 12  fx_carga             240770 non-null  object
 13  fx_datos_ini         240770 non-null  object
 14  fx_datos_fin         240770 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 27.6+ MB

In [52]:
df_rango_edad.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
COD_DISTRITO,240770.0,NaN,NaN,NaN,10.415911,5.431066,1.0,6.0,10.0,15.0,21.0
DESC_DISTRITO,240770,21,LATINA,19229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COD_DIST_BARRIO,240765.0,NaN,NaN,NaN,1045.176508,543.082481,101.0,604.0,1007.0,1502.0,2105.0
DESC_BARRIO,240765,131,ALUCHE,5590,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COD_BARRIO,240765.0,NaN,NaN,NaN,3.605267,1.872978,1.0,2.0,4.0,5.0,9.0
COD_DIST_SECCION,240763.0,NaN,NaN,NaN,10490.04411,5431.882015,1001.0,6078.0,10194.0,15061.0,21034.0
COD_SECCION,240763.0,NaN,NaN,NaN,74.295012,51.186987,1.0,33.0,66.0,106.0,222.0
COD_EDAD_INT,240770.0,NaN,NaN,NaN,48.511845,28.366215,0.0,24.0,48.0,73.0,100.0
ESPANOLESHOMBRES,240770.0,NaN,NaN,NaN,5.479931,4.593367,0.0,2.0,5.0,7.0,73.0
ESPANOLESMUJERES,240770.0,NaN,NaN,NaN,6.258732,4.774843,0.0,3.0,5.0,8.0,69.0
EXTRANJEROSHOMBRES,240770.0,NaN,NaN,NaN,1.357092,2.206902,0.0,0.0,0.0,2.0,66.0
EXTRANJEROSMUJERES,240770.0,NaN,NaN,NaN,1.464601,2.179726,0.0,0.0,1.0,2.0,68.0
FX_CARGA,240770,1,00:01.6,240770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FX_DATOS_INI,240770,1,01/08/2025,240770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FX_DATOS_FIN,240770,1,01/08/2025,240770,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_residentes_demografia.isnull().sum()

cod_distrito           0
desc_distrito          0
cod_dist_barrio        5
desc_barrio            5
cod_barrio             5
cod_dist_seccion       7
cod_seccion            7
cod_edad_int           0
espanoles_hombres      0
espanoles_mujeres      0
extranjeros_hombres    0
extranjeros_mujeres    0
fx_carga               0
fx_datos_ini           0
fx_datos_fin           0
dtype: int64

Duplicados para eliminar

In [56]:
df_residentes_demografia.duplicated().values.any()

np.False_

Volcado Datos

In [58]:
df_residentes_demografia.to_sql('residentes_demografia', schema='dw_tfm_restaurantes', con = conn, if_exists = 'append', index=False)

770

In [60]:
count_db = pd.read_sql("SELECT COUNT(*) AS count FROM dw_tfm_restaurantes.residentes_demografia", conn).iloc[0, 0]
count_df = len(df_rango_edad)

print(f"Filas en DataFrame: {count_df}")
print(f"Filas en tabla dw_tfm_restaurantes: {count_db}")

if count_df == count_db:
    print("La carga se efectuó correctamente.")
else:
    print("Hay discrepancias en la cantidad de filas insertadas.")

Filas en DataFrame: 240770
Filas en tabla dw_tfm_restaurantes: 240770
La carga se efectuó correctamente.