In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
usuario = 'postgres'
contraseña = 'postgre'
host = 'localhost'
puerto = '5432'
base_de_datos = 'postgres'

In [6]:
conexion = f'postgresql+psycopg2://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}'

In [8]:
conn = create_engine(conexion)

In [10]:
conn

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [12]:
try:
    version = pd.read_sql("SELECT version();", conn).iloc[0, 0]
    print("Conexión exitosa con SQLAlchemy.")
    print(f"Versión del servidor PostgreSQL: {version}")
except Exception as e:
    print(f"Ocurrió un error al conectar con SQLAlchemy: {e}")

Conexión exitosa con SQLAlchemy.
Versión del servidor PostgreSQL: PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [14]:
consulta_1 = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dw_tfm_restaurantes'
ORDER BY table_name;
"""
pd.read_sql(consulta_1, conn)

               table_name
0           aparcamientos
1              dim_barrio
2            dim_distrito
3          flujo_peatones
4               licencias
5    menu_restaurantes_mx
6        poblacion_madrid
7   residentes_demografia
8            restaurantes
9                terrazas
10     transporte_publico

In [16]:
consulta_2 = """
SELECT *
FROM 
  information_schema.columns 
WHERE 
  table_name = 'aparcamientos';
"""
pd.read_sql(consulta_2, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,dw_tfm_restaurantes,aparcamientos,id_aparcamiento,1,nextval('dw_tfm_restaurantes.aparcamientos_id_...,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,dw_tfm_restaurantes,aparcamientos,nombre_parqueo,2,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,dw_tfm_restaurantes,aparcamientos,plazas_publicas,3,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,dw_tfm_restaurantes,aparcamientos,plazas_residentes,4,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,dw_tfm_restaurantes,aparcamientos,motocicletas,5,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,dw_tfm_restaurantes,aparcamientos,clase_vial,6,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,dw_tfm_restaurantes,aparcamientos,nombre_via,7,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,dw_tfm_restaurantes,aparcamientos,num_via,8,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,dw_tfm_restaurantes,aparcamientos,cod_barrio,9,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,postgres,dw_tfm_restaurantes,aparcamientos,barrio,10,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,postgres,dw_tfm_restaurantes,aparcamientos,cod_distrito,11,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,postgres,dw_tfm_restaurantes,aparcamientos,distrito,12,None,YES,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,postgres,dw_tfm_restaurantes,aparcamientos,coordenada_x,13,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,postgres,dw_tfm_restaurantes,aparcamientos,coordenada_y,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,postgres,dw_tfm_restaurantes,aparcamientos,latitud,15,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,postgres,dw_tfm_restaurantes,aparcamientos,longitud,16,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [18]:
consulta_3= """
SELECT 
  column_name, 
  data_type, 
  character_maximum_length, 
  is_nullable, 
  column_default 
FROM 
  information_schema.columns 
WHERE 
  table_name = 'aparcamientos'
ORDER BY
    ordinal_position
"""

pd.read_sql(consulta_3, conn)

,column_name,data_type,character_maximum_length,is_nullable,column_default
0,id_aparcamiento,integer,NaN,NO,nextval('dw_tfm_restaurantes.aparcamientos_id_...
1,nombre_parqueo,character varying,255.0,YES,None
2,plazas_publicas,integer,NaN,YES,None
3,plazas_residentes,double precision,NaN,YES,None
4,motocicletas,double precision,NaN,YES,None
5,clase_vial,character varying,100.0,YES,None
6,nombre_via,character varying,255.0,YES,None
7,num_via,integer,NaN,YES,None
8,cod_barrio,integer,NaN,YES,None
9,barrio,character varying,100.0,YES,None
10,cod_distrito,integer,NaN,YES,None
11,distrito,character varying,100.0,YES,None
12,coordenada_x,double precision,NaN,YES,None
13,coordenada_y,double precision,NaN,YES,None
14,latitud,double precision,NaN,YES,None
15,longitud,double precision,NaN,YES,None

Leer fichero

In [39]:
df_aparcamientos = pd.read_excel("./ficheros/B8_Aparcamientos_Publicos.xlsx")
df_aparcamientos.head(10)

,Nombre_Parqueo,Plazas_Publicas,Plazas_Residentes,Motocicletas,CLASE_VIAL,NOMBRE_VIA,NUM_VIA,COD_BARRIO,BARRIO,COD_DISTRITO,DISTRITO,COORDENADA_X,COORDENADA_Y,LATITUD,LONGITUD
0,Aparcamiento disuasorio Estadio Metropolitano ...,3011,NaN,61.0,AVENIDA,ARCENTALES,37.0,5,ROSAS,20,SAN BLAS-CANILLEJAS,449209,4476118,40.434154,-3.598831
1,Aparcamiento mixto. Alcántara,121,254.0,NaN,CALLE,ALCANTARA,26.0,2,GOYA,4,SALAMANCA,442847,4475502,40.428194,-3.673778
2,Aparcamiento mixto. Arquitecto Ribera,318,298.0,NaN,CALLE,BARCELO,2.0,4,JUSTICIA,1,CENTRO,440589,4475306,40.426274,-3.700374
3,Aparcamiento mixto. Brasil,226,402.0,NaN,CALLE,SAN GERMAN,7.0,2,CUATRO CAMINOS,6,TETUAN,441198,4478611,40.456093,-3.693497
4,Aparcamiento mixto. Casino de la Reina,135,449.0,NaN,CALLE,CASINO,3.0,2,EMBAJADORES,1,CENTRO,440274,4473180,40.407095,-3.703888
5,Aparcamiento mixto. Condesa de Gavia,146,79.0,NaN,PLAZA,CONDESA DE GAVIA,2.0,2,CUATRO CAMINOS,6,TETUAN,440464,4477836,40.449054,-3.702086
6,Aparcamiento mixto. Corona Boreal,125,125.0,NaN,CALLE,PEREZ DE VICTORIA,2.0,7,ARAVACA,9,MONCLOA-ARAVACA,433515,4478978,40.458814,-3.784145
7,Aparcamiento mixto. Daoíz y Velarde,235,253.0,NaN,AVENIDA,CIUDAD DE BARCELONA,156.0,1,PACIFICO,3,RETIRO,442498,4472658,40.402553,-3.677631
8,Aparcamiento mixto. Díaz Porlier,203,421.0,NaN,CALLE,DIEGO DE LEON,64.0,5,LISTA,4,SALAMANCA,442707,4476204,40.434510,-3.675484
9,Aparcamiento mixto. Encuentro,104,550.0,NaN,PLAZA,ENCUENTRO,5.0,4,MEDIA LEGUA,14,MORATALAZ,444728,4473010,40.405877,3.651386

In [41]:
# Normalizamos a minusculas los títulos
df_aparcamientos.columns = df_aparcamientos.columns.str.lower().str.replace(' ', '_')

In [43]:
df_aparcamientos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre_parqueo     53 non-null     object
 1   plazas_publicas    53 non-null     int64
 2   plazas_residentes  33 non-null     float64
 3   motocicletas       2 non-null      float64
 4   clase_vial         53 non-null     object
 5   nombre_via         53 non-null     object
 6   num_via            47 non-null     float64
 7   cod_barrio         53 non-null     int64
 8   barrio             53 non-null     object
 9   cod_distrito       53 non-null     int64
 10  distrito           53 non-null     object
 11  coordenada_x       53 non-null     int64
 12  coordenada_y       53 non-null     int64
 13  latitud            53 non-null     float64
 14  longitud           53 non-null     float64
dtypes: float64(5), int64(5), object(5)
memory usage: 6.3+ KB

In [45]:
df_aparcamientos.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
nombre_parqueo,53,53,Aparcamiento disuasorio Estadio Metropolitano ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
plazas_publicas,53.0,NaN,NaN,NaN,361.735849,422.756256,36.0,147.0,261.0,419.0,3011.0
plazas_residentes,33.0,NaN,NaN,NaN,376.060606,241.643842,43.0,230.0,359.0,511.0,892.0
motocicletas,2.0,NaN,NaN,NaN,31.5,41.7193,2.0,16.75,31.5,46.25,61.0
clase_vial,53,5,CALLE,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nombre_via,53,48,SERRANO,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_via,47.0,NaN,NaN,NaN,28.489362,42.375584,1.0,2.0,7.0,45.0,178.0
cod_barrio,53.0,NaN,NaN,NaN,3.320755,1.858179,1.0,2.0,3.0,5.0,7.0
barrio,53,29,RECOLETOS,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cod_distrito,53.0,NaN,NaN,NaN,4.886792,4.564328,1.0,1.0,4.0,6.0,20.0
distrito,53,12,CENTRO,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
coordenada_x,53.0,NaN,NaN,NaN,441422.0,2117.34113,433515.0,440464.0,441212.0,442381.0,449209.0
coordenada_y,53.0,NaN,NaN,NaN,4475402.679245,1840.62743,4470983.0,4474402.0,4475205.0,4476147.0,4479549.0
latitud,53.0,NaN,NaN,NaN,40.427169,0.016587,40.387286,40.418186,40.425149,40.434296,40.464548
longitud,53.0,NaN,NaN,NaN,-3.552469,1.008852,-3.784145,-3.702086,-3.693238,-3.677697,3.651386

In [47]:
df_aparcamientos.isnull().sum()

nombre_parqueo        0
plazas_publicas       0
plazas_residentes    20
motocicletas         51
clase_vial            0
nombre_via            0
num_via               6
cod_barrio            0
barrio                0
cod_distrito          0
distrito              0
coordenada_x          0
coordenada_y          0
latitud               0
longitud              0
dtype: int64

Duplicados para eliminar

In [49]:
df_aparcamientos.duplicated().values.any()

np.False_

Volcado Datos

In [51]:
df_aparcamientos.to_sql('aparcamientos', schema='dw_tfm_restaurantes', con = conn, if_exists = 'append', index=False)

53

In [54]:
count_db = pd.read_sql("SELECT COUNT(*) AS count FROM dw_tfm_restaurantes.aparcamientos", conn).iloc[0, 0]
count_df = len(df_aparcamientos)

print(f"Filas en DataFrame: {count_df}")
print(f"Filas en tabla dw_tfm_restaurantes: {count_db}")

if count_df == count_db:
    print("La carga se efectuó correctamente.")
else:
    print("Hay discrepancias en la cantidad de filas insertadas.")

Filas en DataFrame: 53
Filas en tabla dw_tfm_restaurantes: 53
La carga se efectuó correctamente.